/* CSS RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/* FONTS */
@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}

/*  */
* {
    font-family: 'Montserrat';
}

body {
    background-color: #1E1E1E;
}

.main {
    display: flex;
    justify-content: center;
}


/* SEARCH SECTION */
.search-holder {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 20px;
}

input {
    width: 400px;
    border-radius: 10px;
    border-style: inherit;
    height: 20px;
}

.search-button{
    padding: 5px;
    width: 100px;
    align-self: center;
    color: #FFFF;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(90.8deg, rgba(144, 217, 224, 0.9) 0.2%, rgba(84, 96, 230, 0.9) 100%);
    border-radius: 10px;
    border-style:inherit;
}

.search-button:hover {
    background: linear-gradient(90.8deg, rgba(84, 96, 230, 0.9) 0.2%, rgba(144, 217, 224, 0.9) 100%);
}



